{{!-- views/about.hbs --}}

<div class="about-picture">
<H1>ABOUT TONY ROBBINS</H1>
    
</div>

<div class="text-about">
<p> <b>Tony Robbins</b> is an entrepreneur, #1 NY Times bestselling author, philanthropist, and the nation’s #1 life & business strategist. For more than four and a half decades, millions of people have enjoyed the warmth, humor, and transformational power of Tony’s business and personal development events.</p>

 
<p>    
<b>Mr. Robbins is the author of six international bestsellers,</b> including the recent New York Times #1 financial bestseller, MONEY: Master the Game and UNSHAKEABLE, Mr. Robbins has empowered more than 50 million people from 100 countries around the world through his audio programs, educational videos, and live seminars.
</p>
 

<p>
<b>Robbins is the chairman of a holding company comprised of more than 70 privately held businesses with combined sales exceeding $6 billion annually.</b> He has been honored by Accenture as one of the “Top 50 Business Intellectuals in the World”; by Harvard Business Press as one of the “Top 200 Business Gurus”; and by American Express as one of the “Top Six Business Leaders in the World”. Fortune magazine’s recent cover article named him the “CEO Whisperer,” and he has been named in the Top 50 of Worth Magazine’s 100 most powerful people in global finance for three consecutive years.
</p>
 
<p>
<b>Robbins is a leader called upon by leaders.</b> He has worked with four U.S. presidents, top entertainers — from Aerosmith to Green Day, Usher and Pitbull, and athletes and sports teams including tennis world champion Serena Williams and the NBA’s world champion Golden State Warriors. Business leaders and financial moguls from Salesforce.com founder Marc Benioff to Ray Dalio have tapped him for personal coaching.
</p>
 
<p>
<b>Mr. Robbins is a leading philanthropist.</b> Through his partnership with Feeding America, Mr. Robbins has provided over 600 million meals in the last 6 years and he is on track to provide 1 billion meals by 2025. Through the Tony Robbins Foundation, he has also awarded over 2,000 grants and other resources to health and human services organizations, implemented a life-changing curriculum in 1,700+ correctional facilities and gathered thousands of young leaders from around the world with its youth programs.</p>
</p>

</div>

<div class="row row-cols-1 row-cols-md-2 g-4">
  <div class="col">
    <div class="card">
      <img src="https://i.ytimg.com/vi/HZyPRGSg9KE/maxresdefault.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">CHALLENGE</h5>
        <p class="card-text">TONY ROBBINS’ 100 MILLION MEALS CHALLENGE IN PARTNERSHIP WITH FEEDING AMERICA BECOMES THE 1 BILLION MEALS CHALLENGE</p>
      </div>
    </div>
  </div>
  <div class="col2">
    <div class="card">
      <img src="https://cloudfront-eu-central-1.images.arcpublishing.com/thenational/C3A267S34IT4Q5MBAX352XPYVU.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">DUBAI</h5>
        <p class="card-text">TONY ROBBINS SPEAKS AT THE 7TH ANNUAL WORLD GOVERNMENT SUMMIT IN DUBAI</p>
        
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card">
      <img src="https://iuploads.scribblecdn.net/1864549e-5cda-42fa-b897-589893deb67e/global/imagelib/i_am_not_your_guru/pod2.jpg?v=10102018180415.jpeg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">DOCUMENTARY</h5>
        <p class="card-text">DOCUMENTARY ABOUT TONY ROBBINS PREMIERES</p>
      </div>
    </div>
  </div>
  <div class="col2">
    <div class="card">
      <img src="https://i.ytimg.com/vi/RTUkrBkwlO0/maxresdefault.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">BUSINESS</h5>
        <p class="card-text">IMPROVE YOUR BUSINESS</p>
      </div>
    </div>
  </div>
</div>
