
<div class="work-edge">
    <h1>GET YOUR WINNING EDGE</h1>
</div>
<h3>WHAT CLIENTS ARE SAYING.</h3>
<div class="card-group">
  <div class="card">
    <img src="https://cdnwp.tonyrobbins.com/wp-content/uploads/2017/06/Screen-Shot-2017-06-12-at-1.22.14-PM.png" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Entrepreneur</h5>
      <p class="card-text">JASON ADAMS
"After my strategy session, in fourteen days we did $2.9 million is sales and before that, we had made nothing with business we started."</p>
      <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
    </div>
  </div>
  <div class="card">
    <img src="https://cdnwp.tonyrobbins.com/wp-content/uploads/2017/06/Screen-Shot-2017-06-12-at-1.23.12-PM.png" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Business owner</h5>
      <p class="card-text">USHA PATEL
""Coaching is the difference-maker for my business.""</p>
      <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
    </div>
  </div>
  <div class="card">
    <img src="https://cdnwp.tonyrobbins.com/wp-content/uploads/2017/06/Screen-Shot-2017-06-12-at-1.23.48-PM.png" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Real Estate Business Owner</h5>
      <p class="card-text">CHRISTINE SABLE
"He was so good at catching me in the lies I told myself…this year I will be doubling my income. Give it a try – It will absolutely change your life!"</p>
      <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
    </div>
  </div>
</div>