
<body>
  

<div class="work-edge">
    <h1>GET YOUR WINNING EDGE</h1>
</div>
<div>
  <H2>BOOKS</H2>

</div>

<div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="https://images-na.ssl-images-amazon.com/images/I/81KkKgd18LL.jpg" class="card-img-top" alt="..." class="d-block w-100" alt="...">

    </div>
    <div class="carousel-item">
      <img src="https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1419212761l/8676.jpg" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="https://m.media-amazon.com/images/I/41WYfvm1jUL.jpg" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="https://images-na.ssl-images-amazon.com/images/I/71O3dE7AC+L.jpg" class="d-block w-100" alt="...">
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
<div class="cards">
<h3>WHAT CLIENTS ARE SAYING.</h3>
<div class="card-group">
  <div class="card">
    <img src="https://cdnwp.tonyrobbins.com/wp-content/uploads/2017/06/Screen-Shot-2017-06-12-at-1.22.14-PM.png" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Entrepreneur</h5>
      <p class="card-text">JASON ADAMS
"After my strategy session, in fourteen days we did $2.9 million is sales and before that, we had made nothing with business we started."</p>
      <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
    </div>
  </div>
  <div class="card">
    <img src="https://cdnwp.tonyrobbins.com/wp-content/uploads/2017/06/Screen-Shot-2017-06-12-at-1.23.12-PM.png" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Business owner</h5>
      <p class="card-text">USHA PATEL
""Coaching is the difference-maker for my business.""</p>
      <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
    </div>
  </div>
  <div class="card">
    <img src="https://cdnwp.tonyrobbins.com/wp-content/uploads/2017/06/Screen-Shot-2017-06-12-at-1.23.48-PM.png" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Real Estate Business Owner</h5>
      <p class="card-text">CHRISTINE SABLE
"He was so good at catching me in the lies I told myself…this year I will be doubling my income. Give it a try – It will absolutely change your life!"</p>
      <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
    </div>
  </div>
</div>
</div>


</body>